<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='/css/bootstrap.min.css') }}>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='/css/style.css') }}>
    <title>Routes</title>
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap">
            <a class="nav-item text-decoration-none " href="/">
                <img class="d-inline-block mr-5" src="/static/images/logo-black.png" alt="logo" />
                <span class="fs-4">Mis Productos</span> 
            </a>
            <ul class="nav navpills">
                <li class="nav-item"><a class="nav-link" href="#">Productos</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Categorias</a></li>
            </ul>
        </header>
    </div>

    {% block body %} {% endblock %}
</body>
</html>