{% extends "_layout.html" %}
{% block body %}
    <header class="header">
        <a href="/products">Productos</a>
        {% if category %}
        >> <a href="/products/{{category}}">{{category.capitalize()}}</a>
        {% endif %}
        {% if id > 0 %} 
        >> <a href="/products/{{category}}/{{id}}">{{ id }}</a>
        {% endif %}
        <hr>
        <h3>Productos {% if id > 0 %}- {{ id }}{% endif %}</h3>
    </header>
    <div class="container-fluid">
        {% if category == "" %}
        <table border="1" class="mx-auto">
            <thead>
                <th>Dato</th>
            </thead>
            <tbody>
                {% for i in range(1, 11) %}
                <tr>
                    <td>
                        <div>
                            <a href="#"><h4>Categorías - {{ i }}</h4></a> 
                            <h5>Descripción</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quia! Ipsum sapiente asperiores iusto fugiat velit aspernatur obcaecati animi earum?</p>
                        </div>
                        <div>
                            <img src="/static/images/{{i}}.png" alt="imagen-{{i}}">
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
{% endblock %}